.site--header {

  h1 {
    font-family: 'Acronym', sans-serif;
    margin: 0;
    font-weight: 700;
    text-align: center;
    background-color: #2286c3;
    padding: 10px 0;
    line-height: 1;
  }
}